* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-left: 8px;
  color: rgb(206, 117, 2);
  animation: logo 3s linear infinite;
}

@keyframes logo {
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background: #000;
  border-bottom: 3px solid rgb(206, 117, 2);
  box-shadow: 0 2px 0 0 rgba(206, 117, 2, 0.2);
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav span {
  font-weight: bold;
  margin: 10px;
  color: whitesmoke;
}

.navbar-nav span:hover {
  margin: 10px;
  border-bottom: 2px solid rgb(206, 117, 2);
  padding: 8px 0px;
}

.navbar-toggler {
  color: rgb(206, 117, 2);
  border: 3px solid rgb(206, 117, 2);
  box-shadow: 2px rgb(206, 117, 2);
}

/* Main Home Page Section..!! */

section .btn {
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid rgb(206, 117, 2);
  border-radius: 50px;
  color: rgb(206, 117, 2);
}

section .btn:hover {
  color: whitesmoke;
  background: rgb(206, 117, 2);
}

.home-heading {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
}
.home-image {
  margin: 5em 0px;
}
.home-image {
  animation: updown 1.5s ease-in-out infinite alternate both;
}

@-webkit-keyframes updown {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes updown {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

label {
  color: rgb(206, 117, 2);
}

form .btn {
  border: 2px solid rgb(206, 117, 2);
  color: rgb(206, 117, 2);
  background: white;
}

form .btn:hover {
  background-color: rgb(206, 117, 2);
  color: whitesmoke;
}

.card .btn {
  border: 1px solid rgb(206, 117, 2);
  color: rgb(206, 117, 2);
}

.card .btn:hover {
  background: rgb(206, 117, 2);
  color: whitesmoke;
}

